/* google fonts linking css */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* GLobal css */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #1A0B2E;
    color: #fff;
}

 h2{
    font-size: 3rem;
    padding: 2rem 0rem;
    text-align: center;
}

h3{
    font-size: 2rem;
    padding: 1rem 0rem;
    color: #fff;
    
}

a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style-type: none;
}



/* Custom css */

/* navbar */
.container{
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

/* logo */
.logo{
    font-weight: 800;
    font-size: 2rem;
}

/* Gradient Color Background */
/* to right, #f7e540 15%, #ed07bd 50%, #9700f3 88% */
.logo span{
    background: linear-gradient(15deg, #f7e540 20%, #ed07bd 45%, #9700f3 88%);
    text-decoration: transparent ;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

/* Nav Links */

.nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li{
    padding: 0 2rem;
}
.nav-links ul li:hover{
    
    font-weight: 600;
    background: linear-gradient(40deg, #f7e540 35%, #ed07bd 60%, #9700f3 88%);
    text-decoration: transparent ;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.Subscribe-btn{
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(40deg, #f7e540 15%, #ed07bd 50%, #9700f3 88%);
}
.Subscribe-btn:hover{
    padding: 1rem 2.5rem;
    border: 0.1rem solid #f7e540;
    border-radius: 2rem;
    background: linear-gradient(40deg, #f7e540 15%, #ed07bd 50%, #9700f3 88%);
    text-decoration: transparent ;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.listen-btn{
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(40deg, #f7e540 15%, #ed07bd 50%, #9700f3 88%);
}
.listen-btn:hover{
    padding: 1rem 2.5rem;
    border: 0.1rem solid #f7e540;
    border-radius: 2rem;
    background: linear-gradient(40deg, #f7e540 15%, #ed07bd 50%, #9700f3 88%);
    text-decoration: transparent ;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}




/* Hero Section */
.hero-section{
    width: 100%;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section .container{
    text-align: center;
}

.hero-circle-image{
    background: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    width: 32%;
    height: 22rem;
    position: relative;
    top: 10rem;
    left: 24.5rem;
}
.hero-circle-image .mic{
    position: relative;
    top: 5rem;
}

.top-tag{
    display: inline;
    position: relative;
    padding: 0.7rem 2rem;
    background-color: #00ff88;
    border-radius: 2rem;
    top: -8rem;
    left: 9rem;
}

.hero-section .container h1{
    margin-top: 10rem;
    font-size: 6rem;
}

.act-2-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0rem;
}

.green-btn{
    color: #00ff88;
    border: 0.2rem solid #00ff88;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
}

.green-btn:hover{
    color: #fff;
    border-color: #fff;
}

/* Podcast section */

.podcast{
    margin: 6rem 0rem;
    text-align: center;
}

.container h2{
    font-size: 3rem;
    padding: 2rem 0rem;
    text-align: center;
}

.podcast .container hr{
    opacity: 0.1;
}

.podcast .container p{
    margin-bottom: 4rem;
}

.ratings{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratings .rate h3{
    font-size: 2rem;
    padding: 1rem 0rem;
    color: #00ff88;
    
}

/* Why Choose TechWave */
.Why-Choose-TechWav .container{
    background-color: #230e3d;
}
.container .grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 1rem;
    padding: 2rem;
    grid-template-areas: 
    "a b b"
    "a c c"
    "d d e";
}
.a{
    grid-area: a;
    padding: 4rem 2rem;
}
.a h3{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.b{
    grid-area: b;
    padding: 2rem 4rem;
}
.b h3{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.c{
    grid-area: c;
    padding: 2rem 4rem;
}
.c h3{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.d{
    grid-area: d;
    padding: 2rem 4rem;
}
.d h3{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.e{
    grid-area: e;
    padding: 4rem 2rem;
}

.container .grid-layout .box{
    background-color: #2a0f4d;
    border-radius: 2rem;
}

/* Featured Episodes */
.Featured{
    margin: 8rem 0rem;
}
.container .video-3box{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.container .video-3box .box{
    width: 370px;
    background-color: #2a0f4d;
    border-radius: 2rem;
}
.container .video-3box .box iframe{
    max-width: 100%;
    border-radius: 2rem;
    box-shadow: 0 6px 20px 0 rgba(198, 197, 197, 0.19);
}

.video-3box .box h4{
    font-size: 1rem;
    margin: 1rem 0rem;
}
.video-3box p{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 1rem 0rem;
}

.video-3box .box .content-box{
    padding: 0rem 1rem;
}

.box .content-box small{
    color: #00ff88;
    font-size: 0.8rem;
    font-weight: 600;
}

/* Meet the Host */
.meet{
    margin: 8rem 0rem;
}
.meet .container .main-box{
    background-color: #2a0f4d;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.img-box img{
    border-radius: 50%;
    box-shadow: 0 6px 20px 0 rgba(198, 197, 197, 0.19);
}

.contents h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.contents p{
    margin-bottom: 1rem;
}

.contents .icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.contents .icons img{
    padding: 0.7rem;
    border: 1px solid #f7e540;
    border-radius: 50%;
}

.contents .icons img:hover{
    background-color: #fff;
}

/* footer-section */
footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.footer-section .container .logo{
    display: flex;
    justify-content: center;
    font-size: 6rem;
    margin-top: 1rem;
}

.foot-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 5rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

.footer-section .container hr{
    opacity: 0.1;
    margin: 1rem 16rem;
}

.footer-section .container p{
    text-align: center;
    opacity: 0.5;
    margin-top: 4rem;
}



/* Resposive Design Goes Below */

/* Responsive Breakpoints
Small device: up to 576 px
Medium Device: 576px to 992 px (Optional)
Large Device: above 992 px */




/* Large Device: above 992 px */
@media screen and (min-width:992px) {
    .nav-container i{
        display: none;
    }
}

/* Medium Device: 576px to 992 px (Optional) */
@media screen and (min-width: 577px) and (max-width: 991px) {

    /* Header Section */
    .nav-container {
        padding: 0.8rem 0;
    }
    .logo {
        font-size: 1.8rem;
    }

    .nav-links, .Subscribe-btn {
        display: none;
    }
    .menu-icon {
        display: block;
    }

    /* Hero Section*/
    .hero-section {
        min-height: 60vh; 
        background-position: center; 
    }

    .hero-section .container h1 {
        margin-top: 6rem; 
        font-size: 4rem; 
    }

    .hero-circle-image {
        position: static; 
        width: 60%; 
        height: 15rem; 
        margin: 2rem auto 0; 
        order: 1; 
    }
    .hero-circle-image .mic {
        top: 3rem;
        width: 60%; 
    }

    .top-tag {
        position: static; 
        margin: 1rem auto; 
        top: auto; left: auto; 
        order: 2; 
        padding: 0.6rem 1.5rem; 
        font-size: 0.9rem; 
    }

    .act-2-btn {
        flex-direction: row;
        gap: 1.5rem;
        margin: 2rem 0;
    }
    .green-btn, .Subscribe-btn { 
        padding: 0.8rem 2rem; 
        font-size: 0.9rem;
    }




    /* Podcast section */
    .podcast {
        margin: 4rem 0rem; 
    }

    .container h2 {
        font-size: 2.5rem; 
        padding: 1.5rem 0rem;
    }

    .podcast .container p {
        margin-bottom: 2.5rem; 
        font-size: 0.9rem; 
    }

    .ratings {
        margin-top: 3rem; 
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 2rem; 
    }

    .ratings .rate {
        flex: 0 0 auto;
        width: 45%; 
        max-width: 250px; 
    }

    .ratings .rate h3 {
        font-size: 1.6rem;
        padding: 0.8rem 0rem;
    }





     /* Why Choose TechWave */
    .container .grid-layout {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto; 
        gap: 1.5rem; 
        padding: 1.5rem;
        grid-template-areas:
            "a a"
            "b c"
            "d e";
    }
    .container .grid-layout .box {
        border-radius: 1.5rem; 
        padding: 1.5rem; 
    }

    .a, .e {
        padding: 2rem 1.5rem;
    }
    .container .grid-layout .box h3 {
        font-size: 1.2rem; 
        margin: 0.8rem 0rem;
    }
    .container .grid-layout .box p { 
        font-size: 0.9rem;
    }



    /* Featured Episodes */
     .Featured {
        margin: 5rem 0rem; 
    }
    .container .video-3box {
        flex-direction: column; 
        align-items: center; 
        gap: 2rem;
    }
    .container .video-3box .box {
        width: 80%; 
        max-width: 500px; 
        border-radius: 1.5rem; 
    }
    .container .video-3box .box iframe {
        border-radius: 1.5rem; 
    }
    .video-3box .box h4 {
        font-size: 1.1rem; 
        margin: 0.8rem 0rem;
    }
    .video-3box p {
        font-size: 0.9rem; 
        margin: 0.8rem 0rem;
    }
    .box .content-box {
        padding: 0rem 1.2rem; 
    }
    .box .content-box small {
        font-size: 0.9rem; /
    }



    /* Meet the Host */
    .meet {
        margin: 5rem 0rem;
    }
    .meet .container .main-box {
        flex-direction: column; 
        text-align: center; 
        gap: 1.5rem; 
        padding: 1.5rem; 
        border-radius: 1.5rem; 
    }
    .contents h4 {
        font-size: 1.3rem; 
        margin-bottom: 0.8rem;
    }
    .contents p {
        font-size: 0.9rem; 
        margin-bottom: 0.8rem;
    }
    .contents .icons {
        justify-content: center; 
        gap: 1rem; 
    }
    .contents .icons img {
        padding: 0.5rem; 
    }




    /* Footer Section */
    footer {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .footer-section .container .logo {
        font-size: 4rem;
    }
    .foot-icons {
        gap: 1rem; 
        font-size: 0.9rem;
    }
    .footer-section .container hr {
        margin: 1rem; 
    }
    .footer-section .container p {
        margin-top: 2rem;
    }
    
}



/* Small device: up to 576 px  */
@media screen and (max-width: 576px) {

    /* Header Section */
     .nav-container {
        padding: 0.6rem 0;
    }
    .logo {
        font-size: 1.5rem;
    }

    .nav-links, .Subscribe-btn{
        display: none;
    }
    
    .menu-icon {
        display: block;
    }

    /* Hero Section */
    .hero-section {
        min-height: 50vh; 
        background-position: center;
        padding-bottom: 2rem; 
    }

    .hero-section .container h1 {
        margin-top: 4rem; 
        font-size: 2.5rem; 
    }

    .hero-circle-image {
        position: static; 
        width: 80%; 
        height: 12rem; 
        margin: 1.5rem auto 0; 
    }
    .hero-circle-image .mic {
        top: 2rem; 
        width: 50%; 
    }

    .top-tag {
        position: static; 
        margin: 1rem auto; 
        top: auto; left: auto; 
        padding: 0.5rem 1.2rem; 
        font-size: 0.8rem; 
    }

    .act-2-btn {
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;
    }
    .green-btn {
        width: 80%; 
        max-width: 250px; 
        padding: 0.7rem 1.5rem; 
        font-size: 0.8rem;
    }


    /* Podcast section */
    .podcast {
        margin: 2.5rem 0rem;
    }

    .container h2 {
        font-size: 1.8rem; 
        padding: 1rem 0rem;
    }

    .podcast .container p {
        margin-bottom: 1.5rem; 
        font-size: 0.8rem; 
        padding: 0 1rem; 
    }

    .ratings {
        margin-top: 2rem;
        flex-direction: column;
        gap: 1.5rem; 
    }

    .ratings .rate {
        width: 80%; 
        max-width: 200px; 
        margin: 0 auto; 
    }

    .ratings .rate h3 {
        font-size: 1.3rem;
        padding: 0.5rem 0rem;
    }




    /* Why Choose TechWave */
    .container .grid-layout {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    .container .grid-layout .box {
        width: 100%; 
        border-radius: 1rem;
        padding: 1rem; 
        text-align: center;
    }
    .a, .e {
        padding: 1.5rem 1rem; 
    }
    .container .grid-layout .box h3 {
        font-size: 1rem;
        margin: 0.6rem 0rem;
    }
    .container .grid-layout .box p {
        font-size: 0.8rem;
    }



    /* Featured Episodes */

    .Featured {
        margin: 3rem 0rem;
    }
    .container .video-3box {
        flex-direction: column; 
        align-items: center; 
        gap: 1.5rem;
    }
    .container .video-3box .box {
        width: 95%;
        max-width: none; 
        border-radius: 1rem;
    }
    .container .video-3box .box iframe {
        border-radius: 1rem; 
    }
    .video-3box .box h4 {
        font-size: 1rem; 
        margin: 0.6rem 0rem;
    }
    .video-3box p {
        font-size: 0.8rem; 
        margin: 0.6rem 0rem;
    }
    .box .content-box {
        padding: 0rem 0.8rem; 
    }
    .box .content-box small {
        font-size: 0.8rem; 
    }




    /* Meet the Host */
    .meet {
        margin: 3rem 0rem; /* Further reduce overall margin */
    }
    .meet .container .main-box {
        flex-direction: column;
        text-align: center; 
        gap: 1rem; 
        padding: 1rem;
        border-radius: 1rem;
    }
    .contents h4 {
        font-size: 1.1rem; 
        margin-bottom: 0.5rem;
    }
    .contents p {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .contents .icons {
        justify-content: center; 
        gap: 0.8rem;
    }
    .contents .icons img {
        padding: 0.4rem; 
    }





    /* Footer Section */
    footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .footer-section .container .logo {
        font-size: 3rem;
    }
    .foot-icons {
        flex-direction: column; 
        gap: 1rem;
        font-size: 0.8rem; 
    }
    .footer-section .container hr {
        margin: 1rem 2rem; 
    }
    .footer-section .container p {
        margin-top: 1.5rem; 
        font-size: 0.8rem; 
    }

}