/* google fonts linking css */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* GLobal css */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #1A0B2E;
    color: #fff;
}

 h2{
    font-size: 3rem;
    padding: 2rem 0rem;
    text-align: center;
}

h3{
    font-size: 2rem;
    padding: 1rem 0rem;
    color: #fff;
    
}

a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style-type: none;
}



/* Custom css */

/* navbar */
.container{
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

/* logo */
.logo{
    font-weight: 800;
    font-size: 2rem;
}

/* Gradient Color Background */
/* to right, #f7e540 15%, #ed07bd 50%, #9700f3 88% */
.logo span{
    background: linear-gradient(15deg, #f7e540 20%, #ed07bd 45%, #9700f3 88%);
    text-decoration: transparent ;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

/* Nav Links */

.nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li{
    padding: 0 2rem;
}
.nav-links ul li:hover{
    
    font-weight: 600;
    background: linear-gradient(40deg, #f7e540 35%, #ed07bd 60%, #9700f3 88%);
    text-decoration: transparent ;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.Subscribe-btn{
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(40deg, #f7e540 15%, #ed07bd 50%, #9700f3 88%);
}
.Subscribe-btn:hover{
    padding: 1rem 2.5rem;
    border: 0.1rem solid #f7e540;
    border-radius: 2rem;
    background: linear-gradient(40deg, #f7e540 15%, #ed07bd 50%, #9700f3 88%);
    text-decoration: transparent ;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}


/* Hero Section */
.hero-section{
    width: 100%;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section .container{
    text-align: center;
}

.hero-circle-image{
    background: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    width: 32%;
    height: 22rem;
    position: relative;
    top: 10rem;
    left: 24.5rem;
}
.hero-circle-image .mic{
    position: relative;
    top: 5rem;
}

.top-tag{
    display: inline;
    position: relative;
    padding: 0.7rem 2rem;
    background-color: #00ff88;
    border-radius: 2rem;
    top: -8rem;
    left: 9rem;
}

.hero-section .container h1{
    margin-top: 10rem;
    font-size: 6rem;
}

.act-2-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0rem;
}

.green-btn{
    color: #00ff88;
    border: 0.2rem solid #00ff88;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
}

.green-btn:hover{
    color: #fff;
    border-color: #fff;
}

/* Podcast section */

.podcast{
    margin: 6rem 0rem;
    text-align: center;
}

.container h2{
    font-size: 3rem;
    padding: 2rem 0rem;
    text-align: center;
}

.podcast .container hr{
    opacity: 0.1;
}

.podcast .container p{
    margin-bottom: 4rem;
}

.ratings{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratings .rate h3{
    font-size: 2rem;
    padding: 1rem 0rem;
    color: #00ff88;
    
}

/* Why Choose TechWave */
.Why-Choose-TechWav .container{
    background-color: #230e3d;
}
.container .grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 1rem;
    padding: 2rem;
    grid-template-areas: 
    "a b b"
    "a c c"
    "d d e";
}
.a{
    grid-area: a;
    padding: 4rem 2rem;
}
.a h3{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.b{
    grid-area: b;
    padding: 2rem 4rem;
}
.b h3{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.c{
    grid-area: c;
    padding: 2rem 4rem;
}
.c h3{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.d{
    grid-area: d;
    padding: 2rem 4rem;
}
.d h3{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.e{
    grid-area: e;
    padding: 4rem 2rem;
}

.container .grid-layout .box{
    background-color: #2a0f4d;
    border-radius: 2rem;
}

/* Featured Episodes */
.Featured{
    margin: 8rem 0rem;
}
.container .video-3box{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.container .video-3box .box{
    width: 370px;
    background-color: #2a0f4d;
    /* padding: 2rem 1rem; */
    border-radius: 2rem;
}
.container .video-3box .box iframe{
    max-width: 100%;
    /* margin-top: 2rem; */
    border-radius: 2rem;
    box-shadow: 0 6px 20px 0 rgba(198, 197, 197, 0.19);
}

.video-3box .box h4{
    font-size: 1rem;
    margin: 1rem 0rem;
}
.video-3box p{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 1rem 0rem;
}

.video-3box .box .content-box{
    padding: 0rem 1rem;
}

.box .content-box small{
    color: #00ff88;
    font-size: 0.8rem;
    font-weight: 600;
}

/* Meet the Host */
.meet{
    margin: 8rem 0rem;
}
.meet .container .main-box{
    background-color: #2a0f4d;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.img-box img{
    border-radius: 50%;
    box-shadow: 0 6px 20px 0 rgba(198, 197, 197, 0.19);
}

.contents h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.contents p{
    margin-bottom: 1rem;
}

.contents .icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.contents .icons img{
    padding: 0.7rem;
    border: 1px solid #f7e540;
    border-radius: 50%;
}

.contents .icons img:hover{
    background-color: #fff;
}

/* footer-section */
footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.footer-section .container .logo{
    display: flex;
    justify-content: center;
    font-size: 6rem;
    margin-top: 1rem;
}

.foot-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 5rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

.footer-section .container hr{
    opacity: 0.1;
    margin: 1rem 16rem;
}

.footer-section .container p{
    text-align: center;
    opacity: 0.5;
    margin-top: 4rem;
}